body {
  margin: 20px;
  direction: rtl;
  text-align: right;
}

.table_container {
  padding: 5px;
}

.table_container input {
  width: 15px;
}

.free_table {
  border: 2px solid green;
}

.taken_table {
  border: 2px solid red;
}

.frozen_table {
  border: 2px solid grey;
}

.container {
  border: 2px solid grey;
  margin: 20px;
}

.free_player {
  color: rgb(1, 164, 1);
}

.not_free_player {
  color: red;
}

.red {
  color: red;
}

.error_input {
  border: 2px solid red;
}

.player_lost {
  border: 2px solid red;
}

.player_won {
  border: 2px solid green;
}